<div class="lum-select lum-select--multi" ng-class="{ 'lum-select--is-active lum-select--is-open': $select.open, 'lum-select--is-disabled': $select.disabled }">
    <ul class="lum-select__choices">
        <span class="ui-select-match"></span>

        <li class="lum-select__search">
            <input 
                type="text" 
                autocomplete="off" 
                autocorrect="off" 
                autocapitalize="off" 
                spellcheck="false" 
                class="ui-select-search" 
                placeholder="{{ $select.getPlaceholder() }}"
                ng-disabled="$select.disabled"
                ng-hide="$select.disabled"
                ng-model="$select.search"
                ng-click="$select.activate()"
                style="width: 34px;">
        </li>
    </ul>

    <div class="lum-select__dropdown ui-select-dropdown" ng-class="{ 'lum-select__dropdown--is-active': $select.open }">
        <div class="ui-select-choices"></div>
    </div>
</div>